html {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  color: #616161; }

body {
  margin: 0; }

h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 2rem;
  color: #444649;
  text-transform: uppercase; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

@media (min-width: 768px) {
  .container {
    width: 75rem; } }

@media (min-width: 992px) {
  .container {
    width: 97rem; } }

@media (min-width: 1200px) {
  .container {
    width: 117rem; } }

.home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #252934;
  -webkit-background-size: cover;
          background-size: cover; }
  .home-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .home-header {
    position: relative;
    width: 60rem;
    height: 8rem;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    cursor: default; }
    .home-header-Front {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-top: 0.2rem solid #ffffff;
      border-bottom: 0.2rem solid #ffffff; }
      .home-header-Front font {
        color: #ff5b62; }
    .home-header-Back {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-top: 0.2rem solid #ffffff;
      border-bottom: 0.2rem solid #ffffff;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }
    .home-header h1 {
      font-size: 6rem;
      font-weight: 700;
      line-height: 6rem;
      color: #ffffff; }
  .home-btn {
    width: 18.5rem;
    height: 5rem;
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 5rem;
    text-decoration: none;
    color: #ffffff;
    border: 0.2rem solid #ffffff;
    text-align: center;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
    .home-btn:hover {
      background-color: #21d0c3;
      border-color: #21d0c3; }

.home-header:hover .home-header-Front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.home-header:hover .home-header-Back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg); }

@media (max-width: 628px) {
  .home-header {
    width: 36rem;
    height: 6rem; }
    .home-header h1 {
      font-size: 3.4rem; } }

.about {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff; }
  .about-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .about-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 6rem; }
    .about-header span {
      height: .4rem;
      width: 7rem;
      background-color: #444649; }
  .about-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .about-label-item {
      position: relative;
      max-width: 28rem;
      text-align: center; }
      .about-label-item img {
        opacity: 0;
        width: 50%; }
      .about-label-item h3 {
        font-size: 2.6rem; }
      .about-label-item p {
        font-size: 1.8rem; }

.header {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 5rem;
  width: 100%;
  border-bottom: 0.4rem solid #21d0c3;
  background-color: #1f222b;
  z-index: 5; }
  .header-icon {
    display: none;
    position: relative;
    width: 4.5rem;
    height: 3.5rem;
    cursor: pointer;
    z-index: 15; }
    .header-icon span {
      display: block;
      position: absolute;
      left: 0;
      height: .4rem;
      width: 100%;
      background: #ffffff;
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      .header-icon span:nth-child(1) {
        top: 0; }
      .header-icon span:nth-child(2) {
        top: 1.3rem; }
      .header-icon span:nth-child(3) {
        top: 1.3rem; }
      .header-icon span:nth-child(4) {
        top: 2.6rem; }
  .header-nav-item {
    margin-left: 4rem;
    font-size: 1.6rem;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 10; }
  .header.scroll {
    position: fixed;
    top: 0; }

.header.header-open .header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .header.header-open .header-nav-item {
    line-height: 2.6rem; }

.header.header-open .header-icon span:nth-child(1) {
  top: 1.8rem;
  left: 50%;
  width: 0%; }

.header.header-open .header-icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.header.header-open .header-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.header.header-open .header-icon span:nth-child(4) {
  top: 1.8rem;
  width: 0%;
  left: 50%; }

@media (max-width: 628px) {
  .header {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .header-icon {
      display: block;
      margin-right: 2rem; }
    .header-nav {
      position: absolute;
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 0;
      right: 0;
      left: 0;
      margin-top: 5.4rem;
      background-color: #121419;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      overflow: visible; }
      .header-nav-item {
        line-height: 0;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        z-index: 10; } }

.skill {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff; }
  .skill-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 6rem; }
    .skill-header span {
      height: .4rem;
      width: 7rem;
      background-color: #444649; }
  .skill-inform {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .skill-inform-about {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 50rem;
      text-align: center; }
      .skill-inform-about img {
        width: 40%; }
      .skill-inform-about h3 {
        font-size: 2.6rem; }
      .skill-inform-about p {
        font-size: 1.8rem; }
    .skill-inform-scale {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 50rem;
      font-size: 1.8rem;
      line-height: 3rem;
      color: #ffffff;
      background-color: #000000; }
      .skill-inform-scale span {
        position: relative;
        height: 3rem;
        max-width: 50rem;
        border-bottom: 1.6rem solid #ffffff;
        background-color: #076673; }
        .skill-inform-scale span:nth-child(1)::before {
          position: absolute;
          content: 'HTML';
          height: 3rem;
          width: 10rem;
          padding-left: 1rem;
          font-weight: 700;
          background-color: #21d0c3;
          -webkit-transition: 1.6s;
          -o-transition: 1.6s;
          transition: 1.6s; }
        .skill-inform-scale span:nth-child(1):hover:before {
          width: 90%; }
        .skill-inform-scale span:nth-child(1)::after {
          position: absolute;
          content: '90%';
          top: 0;
          right: 1rem;
          height: 3rem;
          width: 3rem; }
        .skill-inform-scale span:nth-child(2)::before {
          position: absolute;
          content: 'CSS';
          height: 3rem;
          width: 10rem;
          padding-left: 1rem;
          font-weight: 700;
          background-color: #21d0c3;
          -webkit-transition: 1.6s;
          -o-transition: 1.6s;
          transition: 1.6s; }
        .skill-inform-scale span:nth-child(2):hover:before {
          width: 80%; }
        .skill-inform-scale span:nth-child(2)::after {
          position: absolute;
          content: '80%';
          top: 0;
          right: 1rem;
          height: 3rem;
          width: 3rem; }
        .skill-inform-scale span:nth-child(3)::before {
          position: absolute;
          content: 'JavaScript';
          height: 3rem;
          width: 10rem;
          padding-left: 1rem;
          font-weight: 700;
          background-color: #21d0c3;
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
        .skill-inform-scale span:nth-child(3):hover:before {
          width: 40%; }
        .skill-inform-scale span:nth-child(3)::after {
          position: absolute;
          content: '40%';
          top: 0;
          right: 1rem;
          height: 3rem;
          width: 3rem; }
        .skill-inform-scale span:nth-child(4)::before {
          position: absolute;
          content: 'JQuery';
          height: 3rem;
          width: 10rem;
          padding-left: 1rem;
          font-weight: 700;
          background-color: #21d0c3;
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
        .skill-inform-scale span:nth-child(4):hover:before {
          width: 50%; }
        .skill-inform-scale span:nth-child(4)::after {
          position: absolute;
          content: '50%';
          top: 0;
          right: 1rem;
          height: 3rem;
          width: 3rem; }
        .skill-inform-scale span:nth-child(5)::before {
          position: absolute;
          content: 'Photoshop';
          height: 3rem;
          width: 10rem;
          padding-left: 1rem;
          font-weight: 700;
          background-color: #21d0c3;
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
        .skill-inform-scale span:nth-child(5):hover:before {
          width: 60%; }
        .skill-inform-scale span:nth-child(5)::after {
          position: absolute;
          content: '60%';
          top: 0;
          right: 1rem;
          height: 3rem;
          width: 3rem; }
        .skill-inform-scale span:nth-child(6)::before {
          position: absolute;
          content: 'Illustraror';
          height: 3rem;
          width: 10rem;
          padding-left: 1rem;
          font-weight: 700;
          background-color: #21d0c3;
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
        .skill-inform-scale span:nth-child(6):hover:before {
          width: 40%; }
        .skill-inform-scale span:nth-child(6)::after {
          position: absolute;
          content: '40%';
          top: 0;
          right: 1rem;
          height: 3rem;
          width: 3rem; }
        .skill-inform-scale span:nth-child(7)::before {
          position: absolute;
          content: 'Node.js';
          height: 3rem;
          width: 10rem;
          padding-left: 1rem;
          font-weight: 700;
          background-color: #21d0c3;
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
        .skill-inform-scale span:nth-child(7):hover:before {
          width: 50%; }
        .skill-inform-scale span:nth-child(7)::after {
          position: absolute;
          content: '50%';
          top: 0;
          right: 1rem;
          height: 3rem;
          width: 3rem; }
        .skill-inform-scale span:nth-child(8)::before {
          position: absolute;
          content: 'UI Design';
          height: 3rem;
          width: 10rem;
          padding-left: 1rem;
          font-weight: 700;
          background-color: #21d0c3;
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
        .skill-inform-scale span:nth-child(8):hover:before {
          width: 40%; }
        .skill-inform-scale span:nth-child(8)::after {
          position: absolute;
          content: '40%';
          top: 0;
          right: 1rem;
          height: 3rem;
          width: 3rem; }

.portfolio {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f5f5f5; }
  .portfolio-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 6rem; }
    .portfolio-header span {
      height: .4rem;
      width: 7rem;
      background-color: #444649; }
  .portfolio-project {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .portfolio-project-image {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 25rem;
      width: 30rem;
      background: #f5f5f5 url(../img/project.jpg) center no-repeat;
      -webkit-background-size: 105% 105%;
              background-size: 105%;
      cursor: pointer;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      .portfolio-project-image span {
        font-size: 3rem;
        font-weight: 700;
        color: #ffffff;
        opacity: 0;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
      .portfolio-project-image:hover {
        -webkit-box-shadow: inset 0 0 30rem 5rem #181b22;
                box-shadow: inset 0 0 30rem 5rem #181b22;
        opacity: .6;
        -webkit-background-size: 120% 120%;
                background-size: 120%; }
        .portfolio-project-image:hover span {
          padding-top: 3rem;
          opacity: 1; }

.contact {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #252934; }
  .contact-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 6rem; }
    .contact-header h2 {
      color: #ffffff; }
    .contact-header span {
      height: .4rem;
      width: 10rem;
      background-color: #ffffff; }
    .contact-header h5 {
      font-size: 1.6rem;
      line-height: 4rem;
      color: #21d0c3; }
    .contact-header form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .contact-header form input, .contact-header form textarea, .contact-header form button {
        width: 50rem;
        margin-top: .5rem;
        padding: .6rem 1.8rem;
        border: none;
        font-size: 2rem;
        font-weight: 400;
        color: #ffffff;
        background-color: #1f222b;
        outline: none; }
        .contact-header form input::-webkit-input-placeholder, .contact-header form textarea::-webkit-input-placeholder, .contact-header form button::-webkit-input-placeholder {
          font-family: "Raleway", sans-serif;
          font-size: 1.8rem; }
        .contact-header form input::-moz-placeholder, .contact-header form textarea::-moz-placeholder, .contact-header form button::-moz-placeholder {
          font-family: "Raleway", sans-serif;
          font-size: 1.8rem; }
        .contact-header form input:-ms-input-placeholder, .contact-header form textarea:-ms-input-placeholder, .contact-header form button:-ms-input-placeholder {
          font-family: "Raleway", sans-serif;
          font-size: 1.8rem; }
        .contact-header form input::-ms-input-placeholder, .contact-header form textarea::-ms-input-placeholder, .contact-header form button::-ms-input-placeholder {
          font-family: "Raleway", sans-serif;
          font-size: 1.8rem; }
        .contact-header form input::placeholder, .contact-header form textarea::placeholder, .contact-header form button::placeholder {
          font-family: "Raleway", sans-serif;
          font-size: 1.8rem; }
      .contact-header form textarea {
        height: 16rem; }
      .contact-header form button {
        height: 4.4rem;
        width: 13rem;
        margin-top: 1.4rem;
        border: 0.2rem solid #ffffff;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s; }
        .contact-header form button:hover {
          background-color: #21d0c3;
          border-color: #21d0c3; }

@media (max-width: 628px) {
  .contact-header form input, .contact-header form textarea {
    width: 30rem; } }

.footer {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #181b22; }
  .footer-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer-social img {
    width: 2.6rem;
    padding: 1.8rem 1.4rem;
    margin-left: 1rem;
    background-color: #323746;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .footer-social img:hover {
      background-color: #21d0c3; }
  .footer-by h5 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center; }

.bounceInLeft {
  opacity: 0;
  -webkit-animation: bounceInLeft 1.2s ease-in-out 1 forwards;
          animation: bounceInLeft 1.2s ease-in-out 1 forwards; }

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.bounceInRight {
  opacity: 0;
  -webkit-animation: bounceInRight 1.2s ease-in-out 1 forwards;
          animation: bounceInRight 1.2s ease-in-out 1 forwards; }

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.bounceIn {
  opacity: 0;
  -webkit-animation: bounceIn 1.2s ease-in-out 1 forwards;
          animation: bounceIn 1.2s ease-in-out 1 forwards; }

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

.fadeInUp {
  opacity: 0;
  -webkit-animation: fadeInUp .6s ease-in-out 1 forwards;
          animation: fadeInUp .6s ease-in-out 1 forwards; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.fadeInLeft {
  opacity: 0;
  -webkit-animation: fadeInLeft .8s ease-in-out 1 forwards;
          animation: fadeInLeft .8s ease-in-out 1 forwards; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.fadeInRight {
  opacity: 0;
  -webkit-animation: fadeInRight .8s ease-in-out 1 forwards;
          animation: fadeInRight .8s ease-in-out 1 forwards; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
