section.about#about
  .container.about-flex
    .about-header
      h2.bounceInLeft.wow About
      span.bounceInLeft.wow(data-wow-delay=".2s")
    .about-label
      .about-label-item
        img.bounceIn.wow(data-wow-delay=".7s")(src="img/fast.svg", alt="Fast")
        .fadeInUp.wow(data-wow-delay=".7s")
          h3 Fast
          p Fast load times and lag free interaction, my highest priority.
      .about-label-item
        img.bounceIn.wow(data-wow-delay=".8s")(src="img/responsive.svg", alt="Responsive")
        .fadeInUp.wow(data-wow-delay=".8s")
          h3 Responsive
          p My layouts will work on any device, big or small.
      .about-label-item
        img.bounceIn.wow(data-wow-delay=".9s")(src="img/intuitive.svg", alt="Intuitive")
        .fadeInUp.wow(data-wow-delay=".9s")
          h3 Intuitive
          p Strong preference for easy to use, intuitive UX/UI.
      .about-label-item
        img.bounceIn.wow(data-wow-delay="1s")(src="img/dynamic.svg", alt="Dynamic")
        .fadeInUp.wow(data-wow-delay="1s")
          h3 Dynamic
          p Websites don't have to be static, I love making pages come to life.