section.contact#contact
  .container
    .contact-header
      h2.bounceInRight.wow Contact
      span.bounceInLeft.wow(data-wow-delay=".2s")
      h5.fadeInUp.wow(data-wow-delay=".6s") Have a question or want to work together?
      form.bounceIn.wow(data-wow-delay=".8s")
        input(type="text" name="name" placeholder="Name" required)
        input(type="email" name="email" placeholder="Enter email" required)
        textarea(type="text" name="massege" placeholder="Your Massege")
        button(type="submit") Send