section.footer#footer
  .container.footer-flex
    .footer-social
      a(href="http://vk.com" target="_blank")
        img(src="img/vk.svg", alt="VK")
      a(href="http://tlgrm.ru" target="_blank")
        img(src="img/telegram.svg", alt="Telegram")
      a(href="http://instagram.com" target="_blank")
        img(src="img/instagram.svg", alt="Instagram")
      a(href="http://codepen.io" target="_blank")
        img(src="img/codepen.svg", alt="CodePen")
      a(href="http://github.com" target="_blank")
        img(src="img/github.svg", alt="GitHub")
      .footer-by
        h5 By Evgeny M