header.header
  .header-icon
    span
    span
    span
    span
  nav.header-nav
    a.header-nav-item(href="#home") Home
    a.header-nav-item(href="#about") About
    a.header-nav-item(href="#skill") Skill
    a.header-nav-item(href="#portfolio") Portfolio
    a.header-nav-item(href="#contact") Contact