main.home#home
  .container.home-flex
    .home-header
      .home-header-Front
        h1 Hello, I'm 
          font E-Markov
      .home-header-Back
        h1 junior web developer
    a.home-btn(href="#about") View my work