section.portfolio#portfolio
  .container
    .portfolio-header
      h2.bounceInLeft.wow Projects
      span.bounceInLeft.wow(data-wow-delay=".3s")
    .portfolio-project
      .portfolio-project-image.fadeInUp.wow(data-wow-delay=".5s")
        span Reustorant site
      .portfolio-project-image.fadeInUp.wow(data-wow-delay=".6s")
        span Reustorant site
      .portfolio-project-image.fadeInUp.wow(data-wow-delay=".7s")
        span Reustorant site
      .portfolio-project-image.fadeInUp.wow(data-wow-delay=".8s")
        span Reustorant site
      .portfolio-project-image.fadeInUp.wow(data-wow-delay=".9s")
        span Reustorant site
      .portfolio-project-image.fadeInUp.wow(data-wow-delay="1s")
        span Reustorant site