section.skill#skill
  .container
    .skill-header
      h2.bounceInRight.wow Skills
      span.bounceInRight.wow(data-wow-delay=".3s")
    .skill-inform
      .skill-inform-about.fadeInLeft.wow(data-wow-delay=".6s")
        img(src="img/avatar.svg", alt="Avatar")
        h3 Who's this guy?
        p I'm the Front-End Developer. I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences. Let's make something special.
      .skill-inform-scale.fadeInRight.wow(data-wow-delay=".6s")
        span
        span
        span JavaScript
        span JQuery
        span Photoshop
        span Illustraror
        span Node.js
        span UI Design