extends layout/_head
block title
  |Portfolio
block content
  include layout/_home
  include layout/_header
  include layout/_about
  include layout/_skill
  include layout/_portfolio
  include layout/_contact
  include layout/_footer